<h1>Chaaaaaaaat!!!</h1>

<div>
  group_id
  <textarea id="group_id"></textarea>
  <br>
  user_name
  <textarea id="user_name"></textarea>
  <br>
  <button id="start">connection start</button>
</div>


<div>
  <%= label_tag :message, "メッセージ" %>
  <textarea id="field" placeholder="Chaaaaaaaat!!!"></textarea>
</div>

<div>
  <button id="push">butoooooon!!!</button>
</div>

<div class="chat_area"></div>

<%= javascript_tag do %>

$("#start").click(function(e){
  var group_id = $("#group_id").val();
  ws = new WebSocket("ws://localhost:8080?group_id="+group_id);

  ws.onopen = function(){
    var groupId = $("#group_id").val();
    var userName = $("#user_name").val();
    var openText = "user:"+userName+" "+groupId;
    ws.send(openText);
  }

  ws.onclose = function(){
    console.log("閉じたよ");
  }

  ws.onmessage = function(str){    
    $(".chat_area").append(str.data).append("<BR>");
  }

  $("#push").click(function(e){
    console.log("push!");
    var text = $("#field").val();
    ws.send(text);
  });
});

$(function(){

});

<% end %>
